<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 50%;
    height: 3.25rem;
    width: 3.75rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-input {
    border-radius: 2rem;
    padding: 0.5rem 3rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <nav class="navbar border-bottom">
          <div class="container-fluid">
            <div class="d-flex" role="search">
              <input
                class="form-control me-1 search-input"
                type="search"
                placeholder="Search country"
                name="country"
              />
              <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
        </nav>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb you home</a>
        <% if (!currUser) { %>
        <a class="nav-link" href="/signup"><b>Sign up</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } else { %>
        <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
